.Greeting{
    text-align: center;
    margin-bottom: 6%;
}

.List{
    margin: auto;
    text-align: center;
    list-style: inside;
}
.Login{
    text-align: center;
    list-style: inside;
}
.Login-Input{
    height: 20px;
    width:100%;
    max-width: 250px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;

    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.7);
}
.Login-Button{
    height: 30px;
    width:100%;
    max-width: 260px;
    margin-left:25%;
    margin-right:25%;
    font-size:88%;

    padding: 5px;
    border-radius: 10px;
    background-color: rgba(205, 209, 239, 0.87);
    border: 2px solid #a4afd3;
}

.Login-Button:hover{
    background-color: rgba(183, 250, 179, 0.5); ;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.Register{
    text-align: center;
    list-style: inside;
    margin-top: 5%;

}
.Register-Input{
    height: 20px;
    width:100%;
    max-width: 250px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;

    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.7);
}
.Register-Button{
    height: 30px;
    width:100%;
    max-width: 260px;
    margin-left:25%;
    margin-right:25%;
    font-size:88%;

    padding: 5px;
    border-radius: 10px;
    background-color: rgba(205, 209, 239, 0.87);
    border: 2px solid #a4afd3;
    margin-bottom: 100px;
}

.Register-Button:hover{
    background-color: rgba(112, 133, 215, 0.58); ;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



