.Hamburger-Menu{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
}


.Burger-Line{
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.Burger1{
    transform: rotate(45deg);
}

.Burger2{
    transform: translateX(100%);
    opacity: 0;
}

.Burger3{
    transform: rotate(-45deg);
}

.Line1{
    transform: rotate(0);
}

.Line2{
    transform: translateX(0);
    opacity: 1;
}

.Line3{
    transform: rotate(0);
}

.Navigation{
    width: 100%;
    height: 60px;
    margin-left: 25px;
    margin-top: 30px;
}

.Navigation ul{
    display:flex;
    flex-wrap: wrap;
    float: left;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
}

.Navigation ul li{
    list-style-type: none;
    padding-right: 10px;
}

.Button{
    height: 25px;
    width:100px;
    margin-top: 6px;
    max-width: 150px;
    font-size: 14px;
    background-color: rgb(92, 188, 163);
    border-radius: 3px;
    border: 2px solid #000000;
    position: relative;
    text-align: center;
}

.Button:hover {
    background-color: rgba(103, 253, 201, 0.4);
    color: #083244;
}

.Button:active {
    background-color: #acefb0;
    box-shadow: 2px 2px 5px #939393;
    animation: blinnker 1s linear infinite;
}