.Button-refresh {

    margin-left: 4%;
    margin-bottom: 10px;
    height: 25px;
    width:60%;
    max-width: 350px;
    font-size: 15px;

    background-color: #b4d6d5;

    border-radius: 5px;
    border: 1px solid #000000;

    position: relative;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.Button-refresh:hover {
    background-color: rgba(103, 253, 201, 0.4);
    color: #083244;
}

.Button-refresh:active {
    background-color: #acefb0;
    box-shadow: 2px 2px 5px #939393;
    animation: blinnker 1s linear infinite;
}

.StockList{
}