.Button-Refresh{

    margin-left: 4%;
    margin-bottom: 10px;
    height: 25px;
    width:100%;
    max-width: 350px;
    font-size: 15px;

    background-color: #b4d6d5;

    border-radius: 5px;
    border: 1px solid #000000;

    position: relative;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.Button-Refresh:after{
    content: "";
    background: #b4d6d5;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.Button-Refresh:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.Button-Refresh:hover {
    background-color: #67fdc9;
}

.StockList{
}