.MainPage{
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

.Flex-Container{
    display: flex;
}

.DepotList-Banner{
    margin-top: 80px;
    margin-bottom: 40px;
    color: #000000;
    width: 100%;
    padding: 4px;
    border: 1px solid #000000;
    height: 4px;
    background-color: rgb(255, 255, 255);
}

.Banner-Text{
    margin: auto;
    text-align: center;
}

.StockList-Container{
    order: 1;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 50px;

    width: 400px;
    padding: 10px;
    border: 1px solid #ffffff;
}

.PieChart-Container{
    order: 2;
    margin-top: 25px;
    margin-left: 200px;

    width: 100%;
    max-width: 550px;
    padding: 20px;
    border: 1px solid #ffffff;
}