.MainPage{

    background-color: rgb(255, 255, 255);
    border: 3px solid #fff;
    padding: 50px;
    border-radius: 4px;
}

.Flex-Container{
    display: flex;
}


.StockList-Container{
    order: 1;
    margin-top: 25px;
    margin-left: 40px;

    width: 400px;
    padding: 10px;
    border: 1px solid #ffffff;
}

.PieChart-Container{
    order: 2;
    margin-top: 25px;
    margin-left: 200px;

    width: 100%;
    max-width: 550px;
    padding: 20px;

    border: 1px solid #ffffff;
}


.LoginPage{
    background-color: rgb(237, 242, 255);
    color: #000000;
    padding: 100px;
    border: 2px solid #c5c5c5;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #7a7a7a;
}